.gradient{
  @apply text-black font-medium uppercase text-xs lg:text-base inline-flex items-center border border-black px-8 py-5 rounded-full;
}

/* .gradient:before {
  background: linear-gradient(
    130deg,
    transparent 0 33%,
    #ff78b9 66%,
    #ffa3cf 83.5%,
    #e4af70 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease;
  width: 100%;
  z-index: -1;
}

.gradient:hover::before {
  background-position: 100% 100%;
} */