@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #1E1E1E;
  --foreground: #E5CBD7;
  --pink-foreground: #FFA3CF;
  --yellow-foreground: #E4AF70;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  @apply font-archivo;
}

body {
  @apply bg-black text-light-pink p-0 m-0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
