@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --background: #1E1E1E;
  --foreground: #E5CBD7;
  --pink-foreground: #FFA3CF;
  --yellow-foreground: #E4AF70;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


@layer base{
  @font-face {
    font-family: PP Mondwest;
    src: url(/fonts/PPMondwest-Regular.otf) format('opentype');
  }
  @font-face {
    font-family: PP Neue Montreal;
    src: url(/fonts/PPNeueMontreal-Medium.otf) format('opentype');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-white text-black p-0 m-0 font-montreal;
}

.pixelated{
  font-family: 'PP Mondwest';
}

.circle {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #1E1E1E;
  border-radius: 200px;
  pointer-events: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.cursorText {
  flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
}